header {
	background-color: #dc6f68;
	color: white;
    margin-top: -20px;
}

header h2 {
    padding: 10px 0px 10px 10px;
    display: inline-block;
}

header h2.church {
    padding: 10px 0px 0px 10px;
}

.button {
    background-color: white;
    border: none;
    color: #dc6f68;
    margin-top: 33px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

header h4 {
    margin-top: -10px;
    padding: 0px 0px 10px 10px;
}

table {
	border-collapse: separate;
    border-spacing: 4px;
  	width: 100%;
}

table.directoryTable {
    margin-top: -10px;
}

th, td {
	border-collapse: separate;
    border-spacing: 2px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color:#f5f5f5
}

tr {
	height: 30px;
}

p:not(.passwordPrompt) {
    padding-left: 10px;
}

img {
    display: block;
    margin: auto;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.imageCell {
    height: 50px;
    width: 75px;
}

.churchName {
    margin-bottom: 10px;
}

.nameHeader {
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 4px;
}

.line {
	margin-bottom: -3px;
}

.lastLine {
	margin-bottom: 6px;
}

.loader {
	margin-top: 15px;
	position: absolute;
    left: 45%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #dc6f68;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.passwordPrompt {
	margin-right: 30px;
}

.submitButton {
	margin-top: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

::-webkit-input-placeholder { color: #e5e5e5; }
::-moz-placeholder {color: #e5e5e5; }
:-ms-input-placeholder { color: #e5e5e5; } 
:-o-input-placeholder { color: #e5e5e5; } 


